@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.red-errors {
    color: red;
}

#start-group-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

#start-new-group-title {
    color: teal;
}

.long-text-bodies {
    color: darkslategray;
}

.start-group-inputs {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font: inherit;
}

.start-group-select-inputs {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font: inherit;
    appearance: none;
}

.create-group-button {
    padding: 2em 4em 2em 4em;
    width: 100%;
    margin-top: 2em;
}

@media (max-width: 1200px) {
    #start-group-form {
        width: 560px;
    }
}

@media (max-width: 600px) {
    #start-group-form {
        width: 320px;
    }
}