@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#group-header {
    color: lightgray;
    text-decoration: none;
}

#event-header {
    color: teal;
    text-decoration: underline;
}

#event-card {
    cursor: pointer;
    
}

#link {
    text-decoration: none;
    color: black;
    
}

#border {
    border-bottom: solid black 2px;
}