#group-header {
    color: lightgray;
    text-decoration: none;
}

#event-header {
    color: teal;
    text-decoration: underline;
}

#event-card {
    cursor: pointer;
    
}

#link {
    text-decoration: none;
    color: black;
    
}

#border {
    border-bottom: solid black 2px;
}