@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.whole-event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#events-group-header {
    color: lightgray;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 2em;
}

#events-event-header {
    color: teal;
    text-decoration: underline;
}

#event-card {
    cursor: pointer;
   
}

.event-card {
    font-weight: 100;
    
}

#events-link {
    text-decoration: none;
    color: black;
    
}

#events-border {
    border-bottom: solid black 2px;
    padding-left: 2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 1100px;
    background-color: #fafafa;
    border-radius: 12px;
    
}

#events-header {
    display: flex;
}

#events-title {
    padding-left: 1.5em;
    
}

.event-card-top {
    display: flex;
}

.event-card-top-right {
    padding-left: 3em;
}

.event-card-time {
    display: flex;
    align-items: center;
   
}

.event-card-time > h4 {
    font-weight: 100;
    margin-bottom: 0;
}

.event-card-image {
    width:670px;
    height: 670px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#event-card-name {
    font-size: xx-large;
}

#event-card-name {
    color: teal;
}

@media (max-width: 1700px) {
    .event-card-image {
        width: 315px;
        height: 315px;
        border-radius: 12px;

    }

    #events-border {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .event-card-top {
        flex-direction: column;
        align-items: center;
    }

    #events-border {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;
        width: 320px;
    }

    .event-card-top-right {
        padding: 0px;
        width: 90%;
        text-align: center;
    }

    .event-card-top {
        width: 100%;
    }

    .event-card-time {
        display: flex;
        justify-content: center;
    }
}