@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.error-message {
    color: red;
}

#sign-up-title {
    padding: 0em 1em;
}

#signup-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.signup-margins {
    margin-bottom: 1em;
}

.signup-margins-h4 {
    margin: 1em;
}

#sign-up-modal-button {
    
        border-radius: 12px;
        padding: 4px;
        background: linear-gradient(to right, #26a69a, #4dd0e1);
    
}

#sign-up-modal-button:hover {
    background: #4dd0e1;
}
