@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#group-details-card {
    display: flex;
    flex-direction: column;
    color: #330023;
    
}

#group-details-breadcrum {
    text-decoration: none;
    padding: 3em 0em 0em 4em;
    color: teal;
}

#group-details-img {
    width: 100%;
    padding: 2em;
}

#group-details-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#group-details-left {
    width: 45%;
    padding: 2em;
}

#group-details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em;
    width: 47%
    
}

#group-details-event-private {
    display: flex;
    

}

#group-bottom > h5 {
    font-weight: 100;
}

#group-details-dot {
    align-self: center;
    
}

#group-dot {
    font-weight: 100;
}

#group-details-bottom {
    display: flex;
    flex-direction: column;
}

#group-details-red-button {
    
    background-color: red;
    color:white;
    align-self: flex-start;
    padding: 1em 3em;
    
}

#group-details-no-button {
    display: none;
}

#group-details-event-card {
    cursor: pointer;
}

#event-card-top-right > h4 {
    color: #330023;
}


#group-finer-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0em;

}

#group-finer-details > h3 {
    color: #330023
}

#group-details-name {
    margin: 0;
    padding: 0em 0em 1em 0em;
    color: teal;
}

#group-details-grey {
    color: darkgrey;
    margin: 5px;
}


#group-name {
    padding-bottom: 2em;
}

#group-details-dark-grey {
    list-style-type: none;
    margin: 0em 1em 0em 0em;
    width: 30%;
    
}

#group-details-link-buttons {
    text-decoration: none;
    color: black;
    
}
#group-details-bottom {
    padding-left: 4em;
  }
  
  #event-details-card-top {
    display: flex;
  }
  
  #group-details-event-card-image {
    padding-right: 4em;
    width: 44%
  }
  
  #event-details-date {
    display: flex;
    align-items: center;
  }
  
  #event-details-h2 {
    margin: 0;
    color: teal;
  }
  
  #make-grey {
    color: darkgrey;
  }

.no-more-underline {
    text-decoration: none;
    color: black;
  }

#hide {
    display: none;
}

#group-details-bottom > h4 {
    font-weight: 100;
}

#event-card-top-right > h2 {
    font-weight: 900;
    font-size: xx-large;
    color: teal;
}

#show {
    color: #330023;
    font-weight: 900;
    font-size: xx-large;
}