@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    flex-direction: row;
}

#event-private {
    display: flex;

}

#dot {
    align-self: center;
}

#bottom {
    display: flex;
    flex-direction: column;
}

#red-button {
    color:red;
}

#no-button {
    display: none;
}

#event-card {
    cursor: pointer;
}