@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#outer-div {
    display: grid;
    grid-template-areas: 
    "a b c c"
    "d d d d";
    justify-content: center;
   
}

#header {
    display: flex;
}

#events-header {
    text-decoration: none;
    color: lightgray;
    grid-area: b;
    
    
}

#groups-header {
    color: teal;
    grid-area: a;
   
}

#body {
    grid-area: d;
}

#subtitle {
    display: flex;
    align-self: flex-start;
}

#card {
    display: flex;
    cursor: pointer;
    border-bottom: solid black 3px;
    
}

#right {
    padding: 1em 2em;
    width: 50%;
}

#left {
    padding: 1em;
    width: 20%;
}


#bottom {
    display: flex;
}

#dot {
    align-self: center;
}

#card-link {
    text-decoration: none;
    color: black;
}