@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#group-outer-div {
    display: grid;
    grid-template-areas: 
    "a b c c"
    "d d d d";
    justify-content: center;
    
    
   
}

#group-header {
    display: flex;
}

#group-events-header {
    text-decoration: none;
    color: lightgray;
    grid-area: b;
    
    
    
}

#group-groups-header {
    color: teal;
    grid-area: a;
    padding-right: 1em;
   
}

#group-body {
    grid-area: d;
}

#group-top > h4 {
    color: darkgray;
    margin-top: .5em;
}

#group-subtitle {
    display: flex;
    align-self: flex-start;
    padding: 0em 1em;
    color: #330023;
}

#group-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: solid black 3px;
    color: #330023;
    background-color: #fafafa;
    margin-bottom: 10px;
    border-radius: 12px;
    width: 1100px;
    
}

#group-right {
    padding: 4px;
    width: 80%;
}

#group-left {
   
    padding: 1em;
    width: 35%;
}

#group-top {
    display: flex;
    flex-direction: column;
}

#group-bottom {
    display: flex;
}

#group-dot {
    align-self: center;
}

#group-card-link {
    text-decoration: none;
    color: black;
}

#group-image {
    height: 370px;
    width: 370px;
}

#group-name {
    margin: 0;
    padding: 0;
    color: teal;
}

@media (max-width: 1200px) {
    #group-image {
        height: 200px;
        width: 200px;
    }

    #group-card {
        width: 800px;
    }
}

@media (max-width: 900px) {
    #group-card {
        width: 560px;
    }
}

@media (max-width: 600px) {

    #group-card-link {
       width: 100%;
    }

    #group-top > h4 {
        max-width: 90%;
        overflow: scroll;
        text-align: center;
    }
    #group-outer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    #group-subtitle {
        align-self: center;
    }
    #group-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    #group-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #group-image {
        width: 200px;
       
    }

    #group-left {
        display: flex;
        justify-content: center;
    }

    #group-top {
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #group-top > h4{
       width: 90%;
       align-items: center;
    }

    #group-bottom {
       
       justify-content: center;
    }
}