@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#delete-button {
    background-color: red;
    color: white;
}

.delete-event-margin {
    margin: 1em;
    padding: 5px;
}

#no-delete-event {
    background: linear-gradient(to right, #26a69a, #4dd0e1);
    border-radius: 12px;
    padding: 5px;
    color: white;
}

#no-delete-event:hover {
    background: #4dd0e1;
}