@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
    
}

#test {
    background-color: #fafafa;
}
#layout-section-one {
    display: flex;
    justify-content: center;
    color: #330023;
    padding-top: 3em;
    padding-bottom: 3em;
}

#layout-section-two {
    display: flex;
    flex-direction: column;
   align-items: center;
   color: #330023;
   padding-bottom: 3em;
}

#layout-section-three {
    display: flex;
    justify-content: center;
    color: #330023;
    padding-bottom: 3em;
}

#layout-section-four {
    display: flex;
    justify-content: space-between;
    height: 3em;
    padding-bottom: 4em;
    padding-left: 50px;
    padding-right: 50px;
   
}

#layout-img {
    width: 560px;
    padding: 1em;
    height: 14em;
}

#layout-title {
    width: 560px;
    padding: 1em;
    
}

#layout-title > h1 {
    margin: 0px;
}

#see-all-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    color: #330023;
    
}

#find-an-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    color: #330023;
    
}

#start-a-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    color: #330023; 
    
}

.icons {
    height: 5em;
    width: 5em;
}

.landingLink {
    text-decoration: none;
}

.landingLink:hover {
    text-decoration: underline;
}

.start-a-group-link {
    color: lightgray;
    text-decoration: none;
}

.start-a-group-link:hover {
    text-decoration: none;
    cursor: not-allowed;
}

#sign-up-button {
    list-style-type: none;
    padding: 0em 2em;
    margin: 0;
    background: linear-gradient(to right, #26a69a, #4dd0e1);
    padding: 4px;
    color: white;
    border: none;
    border-radius: 30px;
    
    padding: .5em 3em;

    
}

#sign-up-button:hover {
    background: #4dd0e1;
}

#hidden {
    display: none;
}

a {
    color: teal;
}

#layout-section-one > #layout-title > h3 {
    font-weight: 400;
}

#layout-section-two > h4 {
    font-weight: 400;
}

#layout-section-two > h2 {
    color: teal;
}


.about-links {
    font-size: xx-large;
}

.about-links:hover {
    color: white;
    background-color: teal;
    box-shadow: 1px 1px 2px teal;
}

@media (max-width: 1200px) {

    #layout-section-one {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }

    #layout-title {
        width: 560px;
    }

    #layout-img {
        width: 560px;
    }

    #test {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #layout-section-two {
        text-align: center;
    }

    #layout-section-three {
        flex-direction: column;
    }

    #sign-up-button {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 570px) {
    #layout-title {
        width: 320px;
    }

    #layout-img {
        width: 320px;
    }
    
}