@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}
#show-button {
    margin-right: 1em;
}
#hide-button {
    display: none;
    margin-right: 1em;
}

#event-details-buttons {
    padding-left: 2em;
}

#event-details-top {
    padding-left: 2em;
    color: #330023;
}

#event-detail-title {
    padding: 0em;
    margin: 0;
    color: #330023;
}

#event-detail-bread {
    text-decoration: none;
    color: teal;
   
}

#event-details-second {
    display: flex;
}

#event-detail-group-image {
    width: 40%;
    padding-right: 2em;
    padding-bottom: 2em;
}

#event-details-img {
    width: 45%;
    padding-right: 2em;
    padding-left: 2em;
}

#event-details-top-right {
    display: flex;
    color: #330023;
    padding-bottom: 5em;
}

#event-clock {
    display: flex;
    color: darkgray;
    padding-bottom: 2em;
    padding-top: 1em;
}

#clock-logo {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

#event-money {
    display: flex;
    color: darkgray;
    padding-bottom: 1em;
}

#event-dollar-sign {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

#event-location {
    display: flex;
    color: darkgray;
}

#event-location-pin {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

.event-time {
    margin: 0;
}

#event-details-section3 {
    padding-left: 2em;
    color: #330023;
}

.event-details-delete-button {
    list-style-type: none;
    padding: 1em 3em 1em 3em;
    
}

#event-details-right {
    padding-left: 6em;
}

#event-host {
    font-weight: 100;
}

#event-details-date > h4 {
    font-weight: 100;
}

.event-details-update-button {
    padding: 1em 3em 1em 3em;
}

@media (max-width: 1000px) {
    

    #event-detail-group-image {
        padding: 0px;
    }
    #event-details-top {
        text-align: center;
        padding: 0px;
    }
    #event-details-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    #event-details-top-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      
    }
    #event-details-buttons {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    #event-details-section3 {
        text-align: center;
        padding: 0px;
    }
    #event-details-right {
        padding: 0px;
    }
}