@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.whole-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

#show-button {
    margin-right: 1em;
   
}
#hide-button {
    display: none;
    margin-right: 1em;
}

#event-details-buttons {
    padding-left: 2em;
}

#event-details-top {
    padding-left: 2em;
    color: #330023;
}

#event-detail-title {
    padding: 0em;
    margin: 0;
    color: #330023;
}

#event-detail-bread {
    text-decoration: none;
    color: teal;
   
}

#event-details-second {
    display: flex;
}

#event-detail-group-image {
    width: 500px;
    height: 500px;
    padding-right: 2em;
    padding-bottom: 2em;
}

#event-details-img {
    width: 620px;
    height: 620px;
    padding-right: 2em;
    padding-left: 2em;
}

#event-details-top-right {
    display: flex;
    flex-direction: column;
    color: #330023;
   
}

#event-clock {
    display: flex;
    color: darkgray;
    padding-bottom: 2em;
    padding-top: 1em;
}

#clock-logo {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

#event-money {
    display: flex;
    color: darkgray;
    padding-bottom: 1em;
}

#event-dollar-sign {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

#event-location {
    display: flex;
    color: darkgray;
}

#event-location-pin {
    align-self: center;
    height: 3em;
    width: 3em;
    padding-right: 1em;
}

.event-time {
    margin: 0;
}

#event-details-section3 {
    padding-left: 2em;
    color: #330023;
}

.event-details-delete-button {
    list-style-type: none;
  
    background: linear-gradient(to right, #26a69a, #4dd0e1);
    border-radius: 12px;
    width: 100px;
    height: 30px;
}

.event-details-delete-button:hover {
    background: #4dd0e1;
}

#event-details-right {
    padding-left: 6em;
}

#event-host {
    font-weight: 100;
}

#event-details-date > h4 {
    font-weight: 100;
}

.event-details-update-button {
    padding: 1em 3em 1em 3em;
}

@media (max-width: 1800px) {
    #event-detail-group-image {
        width: 300px;
        height: 300px;
        padding-right: 2em;
        padding-bottom: 2em;
    }
    
    #event-details-img {
        width: 420px;
        height: 420px;
        padding-right: 2em;
        padding-left: 2em;
    }
}
@media (max-width: 1000px) {
    

    #event-detail-group-image {
        display: none;
    }
    #event-details-top {
        text-align: center;
        padding: 0px;
    }
    #event-details-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    #event-details-bottom-right {
        width: 420px;

        
    }

    #event-details-top-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      
    }
    #event-details-buttons {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    #event-details-section3 {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 420px;
        margin: auto;
    }
    #event-details-right {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 420px) {
    

    #event-details-bottom-right {
        width: 320px;
    }


    #event-details-section3 {
  
        width: 320px;
    
    }

}