@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.red-errors-event {
    color: red;
}

#create-event-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    
}

#create-event-title {
    color: teal;
}

.create-event-input {
    padding: 1em 2em 1em 2em;
    margin-right: 1em;
}

#create-event-button {
    padding: 2em 4em 2em 4em;
    width: 100%;
    margin-top: 2em;
}

