@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.red-errors-event {
    color: red;
}

#create-event-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    
}

#create-event-title {
    color: teal;
}

.create-event-input {
    padding: 1em 2em 1em 2em;
    margin-right: 1em;
}

#create-event-button {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    margin-top: 2em;
    background-color: teal;
    color: white;
    border-radius: 12px;
}

@media (max-width: 1200px) {
    #create-event-form {
        width: 560px;
    }
}

@media (max-width: 600px) {
    #create-event-form {
        width: 320px;
    }
}