#root > ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style-type: none;
 
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.active {
  text-decoration: none;
 
}