@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#root > ul {
  display: flex;
  justify-content: space-between;
  width: 95%;
  list-style-type: none;
  padding: 2em;
 
}

.profile-dropdown {
   position: absolute;
   width: 40%;
   
   padding-top: 1em;
}

.hidden {
  display: none;
}

#M {
  height: 2em;
  width: 2em;
  color: red;
}

#logo {
  text-decoration: none;
  color: red;
  
}

.time-to-start-a-group {
  text-decoration: none;
  padding: 1em;
  color: black;
}

#hide {
  display: none;
}

#user-menu {
  padding: 0em 2em;
  margin: 0;
}

