@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

#root > ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style-type: none;
 
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#M {
  height: 2em;
  width: 2em;
}

#logo {
  text-decoration: none;
  
}

.time-to-start-a-group {
  text-decoration: none;
  padding: 1em
}

#hide {
  display: none;
}