@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
}

.error-message {
    color: red;
}

#login-form {
    display: flex;
    flex-direction: column;
    
}

.login-add-padding {
   margin: 1em;
   
}

#login-title {
    padding-left: 1em;
}

#log-in-button-one {
    border-radius: 12px;
    padding: 4px;
    background: linear-gradient(to right, #26a69a, #4dd0e1);
}

#log-in-button-two {
    border-radius: 12px;
    padding: 4px;
    background: linear-gradient(to right, #26a69a, #4dd0e1);
}

#log-in-button-one:hover {
    background: #4dd0e1;
}

#log-in-button-two:hover {
    background: #4dd0e1;
}